<!DOCTYPE html>
<html>

<head>
  <title>References</title>
  {{_head.html}}
</head>

<body>
{{_slider.html}}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        {{_sidebarMenu.html}}  
      </div>
      <div class="span9">
        <div class="row-fluid"> 
          {{_references.html}}
          {{_pagination.html}}
      </div> <!-- / main content -->
    </div><!-- /row Fluid -->
  </div> <!-- /contaner -->
  <a href="#" class="pull-right hidden-desktop">back to top &#8593;</a>
</div>

{{_footer.html}}

{{_scripts.html}}
</body>
</html>